{% extends 'padre.html' %}
{% load static %}


{% block bloqueQueCambia %}
    <h1>Creador de la pagina</h1>
    <p>Mi nombre es joaquin bessone, tengo 21 años, soy de Cordoba-Argentina</p>
    <p>Es mi primer contacto con el mundo de la programacion y me toco hacer el proyecto solo. </p>
    <P>La aplicacion web esta inspirada en mi trabajo. Yo trabajo en un negocio hibrido donde vendemos Cotillon, Golosinas, Copetin, Descartable y Reposteria.</P>
    <p>si bien hago la entrega ahora, seguire perfeccionando y agregando esta aplicacion web ya que me parece muy interesante y ademas seguire profesionalizandome</p>

    

{% endblock bloqueQueCambia %}