{% extends 'padre.html' %}
{% load static %}


{% block bloqueQueCambia %}
    <h1>Pantalla de Cotillon</h1>
    <a class="btn btn-primary" href="{% url 'combo-cotillon-formulario' %}">Agregar combos</a>
    <a class="btn btn-primary" href="{% url 'busqueda-nombrecombo' %}">Buscar por Nombre</a>
    <ul>
        
        {% for combo in combos  %}
            <li>{{combo}}</li>
        
        <div>
            <form action="{% url 'eliminar-combo' combo.id %}" method="POST"> {% csrf_token %}
                <button type="submit">Eliminar</button>

            </form>
            <button>
                <a href="{% url 'editarcombo' combo.id%}">editar</a>
            </button>
        </div>
        {% endfor %}    
    </ul>
{% endblock bloqueQueCambia %}