{% extends 'padre.html' %}
{% load static %}


{% block bloqueQueCambia %}
    <h1>Pantalla de Copetin</h1>
    <a class="btn btn-primary" href="{% url 'copetin-formulario' %}">Agregar copetin</a>
    <a class="btn btn-primary" href="{% url 'busqueda-nombrecopetin' %}">Buscar por Nombre</a>
    <ul>
        
        {% for copet in copets  %}
            <li>{{copet}}</li>
            <div>
                <form action="{% url 'eliminar-copetin' copet.id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Eliminar</button>

                </form>
                <button>
                    <a href="{% url 'editarcopetin' copet.id%}">editar</a>
                </button>
            </div>
        {% endfor %}
            
    </ul>
{% endblock bloqueQueCambia %}