{% extends 'padre.html' %}
{% load static %}


{% block bloqueQueCambia %}
    <h1>Pantalla de Disfraz</h1>
    <a class="btn btn-primary" href="{% url 'disfraz-formulario' %}">Agregar disfraz</a>
    <a class="btn btn-primary" href="{% url 'busqueda-nombredisfraz' %}">Buscar por Nombre</a>
    <ul>
        
        <section class="golosinas"></section>
        {% for disfraz in disfraces  %}
            <div class="card" style="width: 18rem;">
                <form>
                    <img src="/media/{{disfraz.imagen}}" class="card-img-top" alt="golosinass">
                    
                </form>

                <div class="card-body">
                <h5 class="card-title">{{disfraz.nombre}}</h5>
                <p class="card-text">{{disfraz.talle}}</p>
                <a href="{% url  'disfraz-unica'  disfraz.id %} " class="btn btn-primary">Ver Producto</a>
                <a href="{% url 'editardisfraz' disfraz.id%}" class="btn btn-primary">Editar</a>
                <div>
                <form action="{% url 'eliminar-disfraz' disfraz.id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
                </div>
            </div>
            </div>
            
        {% endfor %}
        </section>
            
    </ul>
{% endblock bloqueQueCambia %}