
{% extends 'padre.html' %}
{% load static %}


{% block bloqueQueCambia %}
    <h1>Pantalla de golosinas</h1>
    <a class="btn btn-primary" href="{% url 'golosinas-formulario' %}">Agregar Golosinas</a>
    <a class="btn btn-primary" href="{% url 'busqueda-nombre' %}">Buscar por Nombre</a>
    <ul>
        
        {% for golosina in golosinas  %}
            <li>{{golosina}}</li>
            <div>
                <form action="{% url 'eliminar-golosina' golosina.id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Eliminar</button>

                </form>
                <button>
                    <a href="{% url 'editargolosina' golosina.id%}">editar</a>
                </button>
            </div>
        {% endfor %}
            
    </ul>
{% endblock bloqueQueCambia %}





    







    

    
    
    

    

    




  