{% extends 'padre.html' %}
{% load static %}


{% block bloqueQueCambia %}
<p>Estamos buscando el producto de nombre:{{nombre}}</p>

{% if productos %}
    <ul>
        
        {% for producto in productos  %}
        <div class="card" style="width: 18rem;">
            <form>
                <img src="/media/{{producto.imagen}}" height="200" class="card-img-top" alt="golosinass">
                
            </form>

            <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">talle: {{producto.talle}}</p>
            <p class="card-text">{{producto.precio}}</p>
            </div>
            
        </div>
            
        {% endfor %}
            
    </ul>
{% else %}
<p>no hubo coincidensias</p>
{% endif %}
    


{% endblock bloqueQueCambia %}